# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.tfvars
.vs/*
src/api/bin/
src/api/obj/
src/api/appsettings.*.json
src/application/bin/
src/application/obj/
src/domain/bin/
src/domain/obj/
src/infrastructure/bin/
src/infrastructure/obj/
src/presentation/bin/
src/presentation/obj/
terraform/.terraform
tfplan